* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  outline: none;
}

body {
  background-color: #000000;
}

.logo1 {
  width: 240px;
  display: block;
  margin: 1px auto;
}

.logo2 {
  width: 80px;
  display: block;
  margin: 1px auto 25px;
}

main {
  width: 375px;
  background: #F4F4F4;
  border-radius: 20px;
  margin: 0 auto 18px;
  padding: 20px 24px 21px;
}

label {
  color: #777777;
  font-weight: 400;
  font-size: 15px;
}

select,
input {
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  height: 53px;
  width: 100%;
  margin-bottom: 19px;
  padding: 18px;
  font-weight: 600;
  font-size: 16px;
  color: #555555;
  cursor: pointer;
}

button {
  background: #000000;
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 48px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

section {
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.arrow-img {
  margin: 15px 0;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#p1 {
  color: #777777;
  font-size: 14px;
}

#p2 {
  color: #777777;
  font-size: 14px;
}

#valor1 {
  color: #555555;
  font-weight: 700;
  font-size: 20px;
}

#valor2 {
  color: #555555;
  font-weight: 700;
  font-size: 20px;
}

#rodape {
  cursor: pointer;
  background-color: black;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  margin: 5px auto 30px;
}
#rodape::selection {
  background-color: transparent;
}

#link-insta {
  color: white;
}

#link-insta:hover {
  opacity: 0.8;

}